nav {
    width: 200px;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 200px 20px;
    transform: translateX(-300px);
    transition: transform 1s ease;

    &.show {
        transform: translateX(0);
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        transition: color 0.3s;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0%;
            height: 2px;
            background-color: white;
            transition: width 0.4s ease, background-color 0.4s ease;
        }

        &:hover::after,
        &.active::after {
            width: 100%;
            background-color: #00ccff;
        }


        &:hover,
        &.active {
            color: #00ccff;
        }

    }
}